body, html {
    height: 100%;
    margin: 0;
    background: rgb(44, 47, 59);
    background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
    background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
}

.chat {
    display: flex;
    flex-direction: column-reverse; /* Mesajların alttan başlamasını sağlar */
    height: 100%;
    margin: auto;
}

.card {
    height: 100%;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    display: flex;
    flex-direction: column;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
    flex-grow: 1;
}

.msg_card_body {
    overflow-y: auto;
    flex-grow: 1;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: #6c5ce7;
    color: white;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.container {
    align-content: center;
}

.search, .type_msg {
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus, .type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn, .send_btn, .search_btn {
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.msg_cotainer, .msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 25px;
    position: relative;
    max-width: 70%;
}

.msg_cotainer {
    background-color: rgb(82, 172, 255);
}

.msg_cotainer_send {
    background-color: #58cc71;
    margin-left: auto; /* Sola kaymasın, sağa yerleşsin */
}

.msg_time, .msg_time_send {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time {
    left: 0;
    bottom: -15px;
}

.msg_time_send {
    right: 0;
    bottom: -15px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Mobil uyumluluk için düzenlemeler */
@media (max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}
